.jumbotron {
  margin-top: 56px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #3debae;
  margin-top: 0px;
  margin-bottom: 10px;
  color: black; }

.tarjeta-cafe {
  flex: 1 150px;
  margin-top: 10px; }

.btn-compra {
  width: 100%; }

a {
  font-style: italic; }

.icono-footer {
  padding: 0px 6px 0px 0px; }

.icono-formulario {
  padding: 0px 6px 0px 0px; }

.banner-superior {
  background-image: url(/images/cafe-grano.jpg);
  background-size: cover;
  color: white; }

.tienda-banner {
  margin-top: 56px; }

.tab-content {
  padding-top: 10px; }

.navbar {
  background-color: #3debae; }
